<div class="container-fluid">
<h2>Registration Form</h2>


{{this.jsondatavalue | json}}
<form [formGroup]="registrationForm" (ngSubmit)=onSubmit()>
  <div class="form-group">
    <label>Name</label>
    <input [class.is-invalid]="registrationForm.get('name').invalid && registrationForm.get('name').touched" formControlName="name" type="text" class="form-control">
  <small class="text-danger" [class.d-none]="registrationForm.get('name').valid || registrationForm.get('name').untouched">Username is Required</small>
  </div>


  
  <div class="form-group">
    <label>Date of Birth</label>
    <input [class.is-invalid]="registrationForm.get('dob').invalid && registrationForm.get('dob').touched" formControlName="dob" type="text" class="form-control">
  <small class="text-danger" [class.d-none]="registrationForm.get('dob').valid || registrationForm.get('dob').untouched">Date of Birth is Required</small>
  </div>


   <div class="form-group">
    <label>Address</label>
    <input [class.is-invalid]="registrationForm.get('address').invalid && registrationForm.get('address').touched" formControlName="address" type="text" class="form-control">
  <small class="text-danger" [class.d-none]="registrationForm.get('address').valid || registrationForm.get('address').untouched">Address is Required</small>
  </div>


  <button class="btn btn-primary  ml-2" type="submit">Register</button>

</form>
</div>




